<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">

    <form class="form-horizontal" th:object="${book}" th:action="@{/books}" th:method="post">
        <div class="form-group">
            <label class="control-label">Autor:</label>
            <input type="text" class="form-control" th:field="*{author}"/>
            <p th:if="${#fields.hasErrors('author')}" th:errors="*{author}"/>
        </div>
        <div class="form-group">
            <label class="control-label">Tytuł:</label>
            <input type="text" class="form-control" th:field="*{title}"/>
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/>
        </div>
        <div class="form-group">
            <label class="control-label">Dostepność:</label>
            <input type="radio"  th:field="*{availability}" value="true" checked> True
            <input type="radio"  th:field="*{availability}" value="false"> False<br>
            <p th:if="${#fields.hasErrors('availability')}" th:errors="*{availability}"/>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-default">Utworz ksiazke</button>
        </div>
    </form>
</div>
</body>
</html>


